@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

@import 'tailwindcss';

:root {
  --white: #ffffff;
  --light-gray: #d9d9d9;
  --mid-gray: #3a4149;
  --black: #000000;

  --red: #e03667;

  --light-blue: #1b829a;
  --dark-blue: #1d2e46;

  --green: #5ec899;
}

@theme {
  --font-sans: 'Montserrat', sans-serif;
  /* ----- GGSTL LANDING ------ */
  --color-primary-gray: #3a4149;
  --color-primary-pink: #e03667;

  /* Background */
  --color-bg-app: var(--white);
  --color-bg-navbar: var(--mid-gray);
  --color-bg-card: var(--light-gray);
  --color-bg-input: var(--white);

  /* Text */
  --color-text-main: var(--mid-gray);
  --color-text-input: var(--mid-gray);
  --color-text-navbar: var(--white);

  /* Buttons */
  --color-btn-primary: var(--white);
  --color-btn-primary-hover: var(--light-gray);
  --color-btn-secondary: var(--mid-gray);
  --color-btn-secondary-hover: var(--white);

  /* ----- Swift-Route ------ */
  /* Background */
  --color-bg-app-swift: var(--white);
  --color-bg-navbar-swift: var(--white);
  --color-bg-card-swift: var(--light-gray);
  --color-bg-input-swift: var(--white);
  --color-highlight-swift: var(--red);

  /* Text color */
  --color-text-main-swift: var(--mid-gray);
  --color-text-muted-swift: var(--light-gray);
  --color-text-input-swift: var(--mid-gray);
  --color-text-navbar-swift: var(--mid-gray);
  --color-text-highlight-swift: var(--red);

  /* Buttons */
  --color-btn-primary-swift: var(--white);
  --color-btn-primary-hover-swift: var(--red);
  --color-btn-secondary-swift: var(--red);
  --color-btn-secondary-hover-swift: var(--white);

  /* Borders */
  --color-border-swift: var(--red);
}

html,
body {
  @apply bg-white dark:bg-gray-950;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}
